@font-face{
	font-family: Raleway;
	src: url(../FONTS/RalewayLight.ttf);
}

body{
	margin: 0px;
	padding: 0px;
}

img.iconMethode{
	width: 20%;
}

/*
img.iconSocial{
	width: 15px;
	height: 15px;
}
*/

h1, h2, h3, a, p, label, input, textarea{
	font-family: 'Raleway', 'Arial';
}

div.conteneurLargeurResponsive{
	width: 50%;
	margin: auto;
}

div#boxContact1, div#boxContact2, div#boxPresentation, div#boxPresentationMethodes, div#boxTypesProjet{
	padding: 50px 0px;
	text-align: center;

	> div.conteneurLargeurResponsive{
		width: 60%;
		text-align: center;
	}
}

/*
i.fas, i.far{
	display: inline-block;
	font-size: 350%;
	color: #f3976c;
}
*/

h1, h2, h3{
	color: #f3976c;
	font-weight: bolder;
}

h1{
	font-size: 1.9em;
}

h2{
	font-size: 1.7em;
}

h3{
	font-size: 1.5em;
}

a, p{
	font-size: 1.3em;
	font-weight: normal;
}

img{
	object-fit: cover;
}

// STYLE DES BOUTONS CONTACT 
a.lienBtnContact{
	display: inline-block;
	padding: 15px 30px;
	background-color: #f3976c;
	color: white;
	font-size: 1.2em;
	text-decoration: none;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
// FIN STYLE DES BOUTONS CONTACT

// STYLE HEADER
header{

	padding: 15px 0px;

	> div{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;

		margin: auto;

		img{
			width: 42%;
		}

		> *{
			flex: 1;
		}

		> div{
			text-align: left;
		}

		> nav{
			text-align: right;

			> ul{
				padding: 0px;

				> li{
					list-style: none;
					display: inline-block;
					margin: 0px 15px;
				}

				a{
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}
// FIN STYLE HEADER

// DEBUT MAIN
div#boxContact1, div#boxContact2{
	background-image: url("../IMAGES/FORMAT_WEBP/la-chouette-agence-banniere.webp");
	background-attachment: fixed;
	background-position: top;
}

div#boxContact1{

	h1{
		color: white;
	}
}

div#boxListeMethodes{

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	> div{
		text-align: center;
		width: 30%;
	}
}

div#boxListeProjets{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	img{
		width: 100%;
		object-fit: cover;
	}

	> div{
		width: 45%;
		margin-bottom: 30px;
	}
}

div#boxPresentation{
	background-image: url("../IMAGES/FORMAT_WEBP/image-de-presentation.webp");
	background-attachment: fixed;
	background-position: top;

	a{
		font-weight: bold;
		color: black;
	}

	p{
		color: black;
		font-weight: bold;
	}
}

div#boxContact2{

	p{
		color: white;
		font-weight: bold;
	}
}
// FIN MAIN

// DEBUT FOOTER
footer{
	text-align: center;
	padding: 10px 0px;
	background-color: #f3976c;

	div#iconsFooter{

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 30%;
		margin: auto;

		> a{
			display: inline-block;
			width: 20%;

			/*
			> i{
				font-size: 150%;
				color: #f0f0f0;

				&:hover{
					color: white;
				}
			}
			*/
		}
	}
}

div.conteneurLiensFooter{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;

	> div > ul{
		padding: 0px;
	}

	li{
		list-style: none;

		> a{
			color: black;
			text-decoration: none;
		}
	}
}
// FIN FOOTER

// MISE EN PAGE PAGE CONTACT
div#boxPresentationContact, div#boxFormContact{
	padding: 25px 0px;
}

div#boxPresentationContact{
	background-color: #f3976c;
	text-align: center;

	p{
		color: white;
		font-weight: bold;
	}
}

div#boxFormContact{

	input[type="submit"]{
		color: white;
		padding: 15px;
		background-color: #f3976c;
		margin-top: 15px;
		font-weight: bold;
	}

	label{
		font-weight: bold;
	}

	label, input, textarea{
		font-size: 1.3em;
	}

	.styleFormInput{
		display: block;
		margin: 5px 0px;
		width: 50%;

		-webkit-transition-property: border;
		-moz-transition-property: border;
		transition-property: border;

		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		transition-duration: 0.3s;

		&:focus{
			outline: none;
			border: 2px solid #f3976c;
		}
	}
}
// FIN MISE EN PAGE PAGE CONTACT

//FIN VERSION DESKTOP

//DEBUT VERSION MOBILE
@media (max-width: 576px){

	div.conteneurLargeurResponsive{
		width: 95%;
	}

	//HEADER
	header{

		img{

			width: 100% !important;
		}
	}
	//FIN HEADER 

	//LISTE DES METHODES
	div#boxListeMethodes{
		flex-direction: column;

		> div{
			width: 100%;
		}
	}
	//FIN LISTE METHODES

	//LISTE DES PROJETS 
	div#boxListeProjets{
		flex-direction: column;

		> div{
			width: 100%;
		}
	}
	//FIN LISTE PROJETS

	//BOX FORM
	div#boxFormContact{
		//ON CHANGE LA LARGEUR DES INPUTS SELON L'APPAREIL
		input, textarea{
			width: 95% !important;
		}
	}
	//FIN BOX FORM

	//FOOTER
	footer{

		div#iconsFooter{
			width: 100%;
		}
	}

	div.conteneurLiensFooter{
		text-align: left;
		flex-direction: column;

		> div{
			width: 95%;
		}
	}
	//FIN FOOTER
}
//FIN VERSION MOBILE

//DEBUT VERSION TABLETTE 
@media (min-width: 579px) and (max-width: 1200px){
	div.conteneurLargeurResponsive{
		width: 80%;
	}
}
//FIN VERSION TABLETTE 